.change-password,
.refresh-your-security {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  max-width: 100%;
}
.change-password {
  margin: 0;
  width: 401px;
  height: 54.1px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
}
.refresh-your-security {
  flex: 1;
  font-size: var(--font-size-lg);
  line-height: 23px;
  font-family: var(--font-poppins);
  color: var(--color-dimgray-100);
  text-align: center;
}
.refresh-your-security-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 37px;
  box-sizing: border-box;
  max-width: 100%;
}
.password-form-inner {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: var(--color-silver);
  width: 100%;
  height: 47.8px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.enter-your-password2,
.password2 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.03em;
  font-family: var(--font-poppins);
}
.password2 {
  width: 82.9px;
  height: 25.1px;
  font-weight: 500;
  color: var(--color-gainsboro);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.enter-your-password2 {
  font-weight: 300;
  color: var(--color-dimgray-100);
  text-align: left;
  z-index: 1;
}
.enter-your-password-frame,
.password-form2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
}
.password-form2 {
  width: 350px;
  flex-direction: column;
  padding: 0 0 var(--padding-sm-6);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl-3);
  max-width: 100%;
}
.conrifm-password-form-item {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: var(--color-silver);
  width: 100%;
  height: 47.8px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.confirm-password1,
.re-enter-password1 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.03em;
  font-family: var(--font-poppins);
}
.confirm-password1 {
  width: 136px;
  font-weight: 500;
  color: var(--color-gainsboro);
  text-align: center;
  display: inline-block;
}
.re-enter-password1 {
  font-weight: 300;
  color: var(--color-dimgray-100);
  text-align: left;
  z-index: 1;
}
.conrifm-password-form1,
.re-enter-password-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 var(--padding-6xs-5);
}
.conrifm-password-form1 {
  width: 350px;
  flex-direction: column;
  padding: 0 var(--padding-xs-5) var(--padding-sm-6);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl-4);
  max-width: 100%;
}
.rectangle-div {
  height: 68.2px;
  width: 357px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-crimson-100);
  box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
  display: none;
  max-width: 100%;
}
.change-password1 {
  width: 245px;
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sign-in-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 52px 17.2px;
  background-color: var(--color-crimson-100);
  width: 357px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.sign-in-button3:hover {
  background-color: var(--color-salmon);
}
.continue-without {
  color: var(--color-white);
}
.changing-the-password {
  color: var(--color-crimson-100);
}
.continue-without-changing-container {
  width: 334px;
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}
.frame-form,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-form {
  margin: 0;
  align-self: stretch;
  gap: var(--gap-36xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame-wrapper4 {
  width: 388.8px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 388.8000000000002px;
  max-width: 100%;
}
.frame-child3 {
  height: 562px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 561px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 44.1px;
  max-width: 100%;
  margin-top: -0.1px;
}
.change-password-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-80xl) 41px var(--padding-290xl) var(--padding-84xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-crimson-300);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frame-wrapper4 {
    flex: 1;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .change-password {
    font-size: var(--font-size-4xl);
  }
  .sign-in-button3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-form {
    gap: var(--gap-8xl);
  }
  .change-password-page {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-child3,
  .frame-wrapper4 {
    min-width: 100%;
  }
  .frame-parent2 {
    gap: var(--gap-3xl);
  }
  .change-password-page {
    padding-left: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .change-password {
    font-size: var(--font-size-11xl);
  }
}
