.span2 {
  font-size: 34px;
}
.forgot-password1,
.unlock-your-access {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  max-width: 100%;
}
.forgot-password1 {
  width: 400px;
  height: 54.1px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
}
.unlock-your-access {
  flex: 1;
  line-height: 23px;
}
.unlock-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 35.2px;
  box-sizing: border-box;
  max-width: 100%;
}
.email6 {
  width: 47px;
  height: 25.1px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.email-label-child {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: var(--color-silver);
  height: 47.8px;
  width: 348.9px;
  position: absolute;
  margin: 0 !important;
  right: -206px;
  bottom: -13.6px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.enter-your-email6 {
  width: 119px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 300;
  display: inline-block;
  min-width: 119px;
  z-index: 1;
}
.email-label {
  flex-direction: row;
  position: relative;
}
.email-form6,
.email-label,
.email-label-wrapper,
.unlock-button-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-label-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  color: var(--color-dimgray-100);
}
.email-form6,
.unlock-button-parent {
  flex-direction: column;
  max-width: 100%;
}
.email-form6 {
  width: 350px;
  padding: 0 0 var(--padding-sm-6);
  box-sizing: border-box;
  gap: var(--gap-xl-3);
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro);
}
.unlock-button-parent {
  align-self: stretch;
  gap: var(--gap-36xl);
}
.sign-in-button-inner {
  height: 68.2px;
  width: 357px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-crimson-100);
  box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
  display: none;
  max-width: 100%;
}
.continue {
  width: 168px;
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sign-in-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 87px 16.2px;
  background-color: var(--color-crimson-100);
  align-self: stretch;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.sign-in-button2:hover {
  background-color: var(--color-salmon);
}
.login {
  color: var(--color-crimson-100);
}
.back-to-login-container {
  width: 106px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  min-width: 106px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  cursor: pointer;
}
.back-to-login-button {
  width: 334px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in-button-parent {
  width: 357px;
  gap: 54.8px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.frame-parent1,
.frame-wrapper3,
.sign-in-button-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  gap: 190px;
}
.frame-wrapper3 {
  width: 391px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 391px;
}
.frame-child2 {
  height: 562px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 561px;
}
.forgot-password-page,
.frame-section {
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-family: var(--font-poppins);
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 41.9px;
  max-width: 100%;
  margin-top: -0.1px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.forgot-password-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-80xl) 40.7px var(--padding-290xl) var(--padding-84xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-19xl);
  color: var(--color-crimson-300);
}
@media screen and (max-width: 1200px) {
  .frame-wrapper3 {
    flex: 1;
  }
  .frame-section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .forgot-password1 {
    font-size: var(--font-size-4xl);
  }
  .unlock-button-parent {
    gap: var(--gap-8xl);
  }
  .continue {
    font-size: 20px;
  }
  .sign-in-button2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sign-in-button-parent {
    gap: var(--gap-8xl);
  }
  .frame-parent1 {
    gap: 95px;
  }
  .forgot-password-page {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-child2,
  .frame-wrapper3 {
    min-width: 100%;
  }
  .frame-section {
    gap: 21px;
  }
  .forgot-password-page {
    padding-left: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-11xl);
  }
}
